<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../global.css">
    <link rel="stylesheet" href="style.css">

    <title>Create</title>
</head>
<body>

    <h2>Create Account</h2>
    
    <section>
        <div>
            <form action="/create" method="POST">
                <label>
                    UserName:
                    <input type="text" name="userName">
                </label>
                <label>
                    Email:
                    <input type="email" name="email">
                </label>
                <label>
                    Password:
                    <input type="password" name="password">
                </label>

                <button type="submit">Create</button>
            </form>
        </div>
    </section>

</body>
</html>