<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../global.css">
    <link rel="stylesheet" href="./style.css">

    <title>Login</title>
</head>
<body> 

    <h2>Login</h2>

    <section>
        <div>
            <form action="/login" method="POST">
                <label>
                    UserName:
                    <input type="text" name="userName">
                </label>
                <label>
                    Password:
                    <input type="password" name="password">
                </label>

                <button type="submit">Login</button>
            </form>
        </div>
    </section>

</body>
</html>